target/stacktrace.log
*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app
/web-app/plugins
/web-app/WEB-INF/classes
*.class
target/classes/cis560/UserController$_closure1.class
target/classes/cis560/UserController.class
target*
web-app/*

web-app/WEB-INF/classes/cis560/LoginController$_closure2.class
web-app/WEB-INF/classes/cis560/LoginController.class
web-app/WEB-INF/classes/cis560/UserController.class

